@{
    ViewData["Title"] = "MVP Seminars Administation Dashboard";
    Layout = "_Layout";

}
<br />
<br />
<br />
<br />
<br />
<h3 class="text-center"></h3>
<div class="well well-lg text-center">
    <a class="btn btn-default btn-lg" aria-label="Left Align" href="/speakers">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Manage Speakers
    </a>
    <a class="btn btn-default btn-lg" aria-label="Left Align" href="/admin/pages/index">
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        Manage Pages
    </a>
    <a class="btn btn-default btn-lg" aria-label="Left Align" href="/blogs">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Manage Blogs
    </a>
</div>
