/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* Materialize Overrides*/
@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 34px;
        line-height: 34px;
    }
}

/* Custom Styles */
html,body {
    font-family: 'Quicksand', sans-serif;
}
.main-nav {
    background-color: #29b6f6;
}
.site-caption {
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
}
.dropdown-content {
    overflow: visible !important;
}
#index-banner {
    background:url("../images/home-banner.png");
    background-size: cover;
}
#search-text {
    background: rgba(0,0,0,0.5);
    padding: 0 5px;
}
.home-contact {
    padding: 0 10px;
}
.home-contact-container {
    padding: 0px 0 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29b6f6+0,356aa0+100 */
    background: #29b6f6; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #29b6f6 0%, #356aa0 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #29b6f6 0%,#356aa0 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #29b6f6 0%,#356aa0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b6f6', endColorstr='#356aa0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    box-shadow: 0px 20px 15px 0px rgba(41,182,246,0.8);
}
.home-contact-container h4 {
    color:white;
}
.home-contact-form {
    background: white;
    padding: 15px 15px;
    margin-bottom: 10px;
}
.associates{
    background:url(../images/fields.png);
    background-size:cover;
}
.associate-footer-effect {
    width: 100%;
    box-shadow: 1px 0px 20px 10px rgba(255,152,0,0.8);
}
.ralston-quote{
    position:relative;
}
.ralston-img {
    position: absolute;
    top:9px;
}
.ralston-quote {
    font-size:19px;
}
.top-star {
    line-height: 0;
}
.nav-row {
    margin-bottom: 0px !important;
}

/* Social Menu */
.dockbar {
    margin-top: 5px;
}
.dock {
    display: block;
    border: thin solid black;
    float: left;
}

.landing {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    display: none;
}

.boats {
    float: left;
    padding: 0 10px;
}
.boats a {
    font-size: 16px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 0px 1px 0px black;
}

.page-head {
    background: url(/images/head-graphic-2.png);
    height: 232px;
    color: white;
    text-align: center;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,.7);
}

.page-head h2 {
    margin: 0;
    padding-top: 140px;
    font-size: 40px;
    text-shadow: 0px 5px 2px black;
}